*.js linguist-vendored
*.css linguist-vendored
style.css linguist-vendored=false
*.html linguist-language=Python
# Source files
# ============
*.pxd		text
*.py 		text
*.py3 		text
*.pyw 		text
*.pyx  		text

# Binary files
# ============
*.db		binary
*.p 		binary
*.pkl 		binary
*.pyc 		binary
*.pyd		binary
*.pyo binary